.menu {
    position: relative;
}

.menu-list {
    background: var(--clr-dark-blue);
    display: none;
    position: absolute;
    top: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: .25s ease-in-out;
    min-width: 100%;
    z-index: 2;
    max-height: 20vh;
    overflow-y: scroll;
}

.ml-l {
    left: 0;
}

.ml-r {
    right: 0;
}

.menu-popup {
    transform: scaleY(1) !important;
    transition: .25s ease-in-out;
}

.menu-node,
.menu-reset {
    background: transparent;
    border: none;
    padding: 1rem;
    text-align: center;
    width: 100%;
    text-wrap: nowrap;
}

.menu-node:disabled {
    color: var(--clr-dark-grey);
}

.menu-reset {
    color: var(--clr-red);
}

.menu-node:hover,
.menu-reset:hover,
.menu-node:focus,
.menu-reset:focus {
    background: var(--clr-dark-red);
    outline: none;
}