@page
@model PL.Pages.Maintenance.Attribute.ListModel
@{
    Layout = "_Maintenance";
    ViewData["PageTitle"] = "All Attributes";
}

<div class="container cp-b px-4 py-5 my-5">
    <div class="row">
        <div class="col"><h3>Attribute</h3></div>
        <div class="col"><h3>Attached To Group</h3></div>
        <div class="col"><h3>Created At</h3></div>
        <div class="col"><h3>Updated At</h3></div>
        <div class="col"><h3>Actions</h3></div>
    </div>
    <hr />

    @if (Model.Attributes.Count != 0)
    {
        @foreach (var attr in Model.Attributes)
        {
            <div class="row">
                <div class="col"><p>@attr.Attribute</p></div>
                <div class="col"><p>@attr.AttachedToGroup</p></div>
                <div class="col"><p>@attr.CreatedAt</p></div>
                <div class="col"><p>@attr.ModifiedAt</p></div>
                <div class="col">
                    <a class="link" href="/maintenance/attribute?attribute=@attr.Key">Edit</a>
                    <a class="link" href="/maintenance/attribute?attribute=@attr.Key&handler=Drop">Remove</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row my-1">
            <div class="col ta-center">
                <p>Attribute list is empty. Use button below to add first.</p>
            </div>
        </div>
    }

    <div class="row">
        <div class="col ta-center">
            <a class="button cp-b-bg my-2" href="/maintenance/attribute">Create New</a>
        </div>
    </div>
</div>