@page
@model PL.Pages.IndexModel
@{
    Layout = "_Marketplace";
    ViewData["PageTitle"] = "Home";
}

@if (User.Identity!.IsAuthenticated)
{
    <div class="container px-5 my-5">
        <div class="row">
            <div class="col ta-center">
                <p>Greetings, <strong>@User.Identity.Name</strong></p>
            </div>
        </div>
    </div>
}