<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link type="text/css" rel="stylesheet" href="~/styles/global.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/grid.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/font.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/heap.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/components/menu.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/components/form.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/components/collapsable.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <title>@ViewData["PageTitle"]</title>
</head>
<body>
    <header>
        <div class="container p-4">
            <div class="row jc-sb ai-center">
                <div class="col-0">
                    <h1>Marketplace</h1>
                </div>

                <div class="col-0">
                    <div class="row no-wrap block-a">
                        <div class="col mx-3">
                            <a class="link" href="/">
                                <i class="fa fa-home fa-sm px-1 pl-0"></i>
                                <h3 class="insertable">Home</h3>
                            </a>
                        </div>

                        <div class="col mx-3">
                            <a class="link" href="/categories">
                                <i class="fa fa-list fa-sm px-1 pl-0"></i>
                                <h3 class="insertable">Categories</h3>
                            </a>
                        </div>

                        <div class="col mx-3">
                            <a class="link" href="/cart">
                                <i class="fa fa-cart-shopping fa-sm px-1 pl-0"></i>
                                <h3 class="insertable">Cart</h3>
                            </a>
                        </div>

                        <div class="col mx-3 menu" data-component="menu">
                            <button type="button" class="link">
                                <i class="fa fa-user fa-sm"></i>
                                <h3 class="insertable">Customer</h3>
                                <i class="fa fa-angle-down fa-sm"></i>
                            </button>
                            <div class="menu-list">
                                <a href="/orders" data-node="ns" class="menu-node">
                                    <p class="insertable">Orders</p>
                                </a>
                                <hr />
                                @if (!User.Identity!.IsAuthenticated)
                                {
                                    <a href="/authentication" data-node="ns" class="menu-node">
                                        <i class="fa fa-arrow-right-to-bracket fa-xs"></i>
                                        <p class="insertable">Sign In</p>
                                    </a>
                                }
                                else
                                {
                                    <a href="/authentication?handler=SignOut" data-node="ns" class="menu-node">
                                        <i class="fa fa-arrow-right-from-bracket fa-xs"></i>
                                        <p class="insertable">Sign Out</p>
                                    </a>
                                }
                                @if (User.IsInRole("Administrator"))
                                {
                                    <hr />
                                    <a href="/maintenance" data-node="ns" class="menu-node">
                                        <i class="fa fa-server fa-xs"></i>
                                        <p class="insertable">Maintenance</p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row block-b">
                        <div class="col mx-3 menu" data-component="menu">
                            <button type="button">
                                <i class="fa fa-bars fa-xl"></i>
                            </button>
                            <div class="menu-list my-3 ml-r">
                                <a href="/" data-node="ns" class="menu-node">
                                    <i class="fa fa-home fa-sm px-1 pl-0"></i>
                                    <p class="insertable">Home</p>
                                </a>
                                <a href="/categories" data-node="ns" class="menu-node">
                                    <i class="fa fa-list fa-sm px-1 pl-0"></i>
                                    <p class="insertable">Categories</p>
                                </a>
                                <a href="/cart" data-node="ns" class="menu-node">
                                    <i class="fa fa-cart-shopping fa-sm px-1 pl-0"></i>
                                    <p class="insertable">Cart</p>
                                </a>
                                <hr />
                                <a href="/orders" data-node="ns" class="menu-node">
                                    <i class="fa fa-book fa-sm px-1 pl-0"></i>
                                    <p class="insertable">Orders</p>
                                </a>
                                @if (!User.Identity!.IsAuthenticated)
                                {
                                    <a href="/authentication" data-node="ns" class="menu-node">
                                        <i class="fa fa-arrow-right-to-bracket fa-xs"></i>
                                        <p class="insertable">Sign In</p>
                                    </a>
                                }
                                else
                                {
                                    <a href="/authentication?handler=SignOut" data-node="ns" class="menu-node">
                                        <i class="fa fa-arrow-right-from-bracket fa-xs"></i>
                                        <p class="insertable">Sign Out</p>
                                    </a>
                                }
                                @if (User.IsInRole("Administrator"))
                                {
                                    <hr />
                                    <a href="/maintenance" data-node="ns" class="menu-node">
                                        <i class="fa fa-server fa-xs"></i>
                                        <p class="insertable">Maintenance</p>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>@RenderBody()</main>

    <script src="~/scripts/components/menu.js"></script>
    <script src="~/scripts/components/collapsable.js"></script>
    <script src="~/scripts/init.js"></script>
</body>
</html>