<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link type="text/css" rel="stylesheet" href="~/styles/global.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/grid.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/font.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/border.css" />

    <link type="text/css" rel="stylesheet" href="~/styles/components/menu.css" />
    <link type="text/css" rel="stylesheet" href="~/styles/components/form.css" />

    <link type="text/css" rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <title>@ViewData["PageTitle"]</title>

    <script src="~/lib/jquery/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row jc-sb ai-baseline">
                <div class="col-0">
                    <h1>Marketplace</h1>
                </div>
                <div class="col-0">
                    <div class="row no-wrap">
                        <div class="col mx-1">
                            <a class="link" href="/catalog"><h2>Catalog</h2></a>
                        </div>
                        <div class="col mx-1">
                            <a class="link" href="/"><h2>About</h2></a>
                        </div>
                    </div>
                </div>
                <div class="col-2 menu" data-component="menu">
                    <button type="button" class="button cp-b-t menu-header">
                        <p class="d-inline">User</p>
                        <i class="fa fa-angle-down fa-sm"></i>
                    </button>
                    <div class="menu-list">
                        <a href="/" data-node="ns" class="menu-node">Log In</a>
                        <a href="/" data-node="ns" class="menu-node">Log Out</a>
                        <a href="/maintenance" data-node="ns" class="menu-node">Administration</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>@RenderBody()</main>

    <footer></footer>

    <script src="~/scripts/components/menu.js"></script>
    <script src="~/scripts/init.js"></script>
</body>
</html>