.cp-b::after,
.cp-b-bg::after,
.cp-b-t::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-highlight-grey);
    clip-path: polygon(var(--cp-b-angle) 0, 100% 0,
    100% calc(100% - var(--cp-b-angle)), calc(100% - var(--cp-b-angle)) 100%,
    0 100%, 0 var(--cp-b-angle),
    var(--cp-b-angle) 0, calc(var(--cp-b-angle) + var(--cp-b-correction)) var(--cp-b-width),
    var(--cp-b-width) calc(var(--cp-b-angle) + var(--cp-b-correction)), var(--cp-b-width) calc(100% - var(--cp-b-width)),
    calc(100% - calc(var(--cp-b-angle) + var(--cp-b-correction))) calc(100% - var(--cp-b-width)), calc(100% - var(--cp-b-width)) calc(100% - calc(var(--cp-b-angle) + var(--cp-b-correction))),
    calc(100% - var(--cp-b-width)) var(--cp-b-width), calc(var(--cp-b-angle) + var(--cp-b-correction)) var(--cp-b-width));
}

.cp-b-bg:focus-visible::after,
.cp-b-t:focus-visible::after {
    background: var(--clr-blue);
}

.cp-b-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-highlight-grey);
    clip-path: polygon(
    calc(var(--cp-b-angle) + var(--cp-b-correction)) var(--cp-b-width),
    calc(100% - var(--cp-b-width)) var(--cp-b-width),
    calc(100% - var(--cp-b-width)) calc(100% - calc(var(--cp-b-angle) + var(--cp-b-correction))),
    calc(100% - calc(var(--cp-b-angle) + var(--cp-b-correction))) calc(100% - var(--cp-b-width)),
    var(--cp-b-width) calc(100% - var(--cp-b-width)),
    var(--cp-b-width) calc(var(--cp-b-angle) + var(--cp-b-correction))
    );
    z-index: -1;
}

.cp-b-t::after {
    background: transparent;
}