@font-face {
    font-family: JS;
    src: url('../fonts//JosefinSans//JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: JS-I;
    src: url('../fonts/JosefinSans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}

h1 {
    color: var(--clr-white);
    font: 400 3rem JS;
}

h2 {
    color: var(--clr-blue);
    font: 400 2rem JS;
}

h3 {
    color: var(--clr-white);
    font: 400 2rem JS-I;
}

a {
    color: var(--clr-white);
    font: 300 1.75rem JS-I;
}

p,
button {
    color: var(--clr-grey);
    font: 300 1.75rem JS;
}

input,
textarea {
    color: var(--clr-white);
    font: 300 1.75rem JS;
}

label {
    color: var(--clr-grey);
    font: 400 1.5rem JS-I;
}