:root {
    --clr-bg: #181818;
    --clr-white: #ffffff;
    --clr-dark-grey: #393939;
    --clr-grey: #bebebe;
    --clr-red: #c20000;
    --clr-dark-red: #30141f;
    --clr-blue: #00ffff;
    --clr-dark-blue: #1a1a2c;
    --clr-green: #00c268;
    --clr-orange: #c29c00;
    --clr-black: #000000;

    --min-sm: 24rem;
    --min-md: 28rem;
    --min-lg: 30rem;

    --w: .15rem;
    --a: 1rem;
    --c: .05rem;
    --border-outer: polygon(var(--a) -.1rem, calc(100% + .1rem) -.1rem,
    calc(100% + .1rem) calc(100% - var(--a)), calc(100% - var(--a)) calc(100% + .1rem),
    -.1rem calc(100% + .1rem), -.1rem var(--a),
    var(--a) 0, calc(var(--a) + var(--c)) var(--w),
    var(--w) calc(var(--a) + var(--c)), var(--w) calc(100% - var(--w)),
    calc(100% - calc(var(--a) + var(--c))) calc(100% - var(--w)), calc(100% - var(--w)) calc(100% - calc(var(--a) + var(--c))),
    calc(100% - var(--w)) var(--w), calc(var(--a) + var(--c)) var(--w));
    --border-inner: polygon(var(--a) 0, 100% 0,
    100% calc(100% - var(--a)), calc(100% - var(--a)) 100%,
    0 100%, 0 var(--a),
    var(--a) 0, calc(var(--a) + var(--c)) var(--w));
}

* {
    box-sizing: border-box;
    cursor: default;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--clr-bg);
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    cursor: pointer;
    display: block;
    outline: none;
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

hr {
    border: .1rem solid var(--clr-dark-grey);
    border-radius: .1rem;
}

i {
    color: inherit;
}