.container { position: relative; }

.row {
    display: flex;
    flex-flow: row wrap;
}

.col-0 { flex: 0 0 0%; }
.col-1 { flex: 0 0 6.25%; }
.col-2 { flex: 0 0 12.5%; }
.col-3 { flex: 0 0 18.75%; }
.col-4 { flex: 0 0 25%; }
.col-5 { flex: 0 0 31.25%; }
.col-6 { flex: 0 0 37.5%; }
.col-7 { flex: 0 0 43.75%; }
.col-8 { flex: 0 0 50%; }
.col-9 { flex: 0 0 56.25%; }
.col-10 { flex: 0 0 62.5%; }
.col-11 { flex: 0 0 68.75%; }
.col-12 { flex: 0 0 75%; }
.col-13 { flex: 0 0 81.25%; }
.col-14 { flex: 0 0 87.5%; }
.col-15 { flex: 0 0 93.75%; }
.col { flex: 1 0 0%; }

.g-1 { gap: .5rem; }
.g-2 { gap: 1rem; }
.g-3 { gap: 1.5rem; }
.g-4 { gap: 2rem; }
.g-5 { gap: 3rem; }

.d-inline { display: inline!important; }
.d-block { display: block!important; }
.d-none { display: none!important; }

.jc-start { justify-content: start; }
.jc-center { justify-content: center; }
.jc-end { justify-content: end; }
.jc-sa { justify-content: space-around; }
.jc-sb { justify-content: space-between; }

.ta-center { text-align: center; }
.ta-end { text-align: end; }

.ai-baseline { align-items: baseline; }
.ai-center { align-items: center; }

.no-wrap { flex-flow: row nowrap; }

.p-rel { position: relative; }
.p-abs { position: absolute; }

.p-0 { padding: 0; }
.pt-0 { padding-top: 0!important; }
.pr-0 { padding-right: 0!important; }
.pb-0 { padding-bottom: 0!important; }
.pl-0 { padding-left: 0!important; }
.m-0 { margin: 0; }
.mt-0 { margin-top: 0!important; }
.mr-0 { margin-right: 0!important; }
.mb-0 { margin-bottom: 0!important; }
.ml-0 { margin-left: 0!important; }

.p-1 { padding: .5rem; }
.px-1 {
    padding-right: .5rem;
    padding-left: .5rem;
}
.py-1 {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.m-1 { margin: .5rem; }
.mx-1 {
    margin-right: .5rem;
    margin-left: .5rem;
}
.my-1 {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.p-2 { padding: .75rem; }
.px-2 {
    padding-right: .75rem;
    padding-left: .75rem;
}
.py-2 {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.m-2 { margin: .75rem; }
.mx-2 {
    margin-right: .75rem;
    margin-left: .75rem;
}
.my-2 {
    margin-bottom: .75rem;
    margin-top: .75rem;
}

.p-3 { padding: 1rem; }
.px-3 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.py-3 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.m-3 { margin: 1rem; }
.mx-3 {
    margin-right: 1rem;
    margin-left: 1rem;
}
.my-3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.p-4 { padding: 2rem; }
.px-4 {
    padding-right: 2rem;
    padding-left: 2rem;
}
.py-4 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.m-4 { margin: 2rem; }
.mx-4 {
    margin-right: 2rem;
    margin-left: 2rem;
}
.my-4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.p-5 { padding: 3rem; }
.px-5 {
    padding-right: 3rem;
    padding-left: 3rem;
}
.py-5 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.m-5 { margin: 3rem; }
.mx-5 {
    margin-right: 3rem;
    margin-left: 3rem;
}
.my-5 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}