/*
    BEGIN OF --BUTTON STYLE REGION
*/
.button {
    align-content: center;
    background: var(--clr-blue);
    cursor: pointer;
    height: 4rem;
    padding: 0 2rem;
    position: relative;
    text-transform: uppercase;
    text-wrap: nowrap;
    z-index: 1;
}

.warning {
    background: var(--clr-red);
}

.warning:hover::after,
.warning:focus-within::after {
    background: var(--clr-red)!important;
}

.button::after,
.warning::after {
    background: var(--clr-bg);
    clip-path: var(--border-outer);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .25s linear;
    width: 100%;
}

.button::before {
    background: var(--clr-bg);
    clip-path: var(--border-inner);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.button:hover::after,
.button:focus-within::after {
    background: var(--clr-blue);
    transition: .25s linear;
}
/*
    END OF --BUTTON STYLE REGION
    |
    BEGIN OF --A STYLE REGION
*/
.link {
    position: relative;
    text-wrap: nowrap;
    display: inline-block;
}

.link::after {
    background: var(--clr-blue);
    bottom: 0;
    content: "";
    height: .2rem;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .25s ease-in-out;
    width: 100%;
}

.link:hover::after,
.link:focus-within::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.field-validation-error {
    color: var(--clr-red);
    font: 300 1.65rem JS-I;
}
/*
    END OF --BUTTON STYLE REGION
    |
    BEGIN OF --IMG STYLE REGION
*/
.img-md {
    aspect-ratio: 1;
    height: auto;
    object-fit: cover;
    width: 100%;
    max-width: 20vw;
    max-height: 20vw;
    min-width: var(--min-sm);
    min-height: var(--min-sm);
    padding: 2rem;
    border-radius: .5rem;
}

.img-sm {
    aspect-ratio: 1;
    height: auto;
    max-width: 10vw;
    max-height: 10vw;
    min-width: var(--min-sm);
    min-height: var(--min-sm);
    object-fit: cover;
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
}
/*
    END OF --IMG STYLE REGION
*/
.clr-g {
    color: var(--clr-green);
}

.clr-o {
    color: var(--clr-orange);
}

.clr-r {
    color: var(--clr-red);
}

.clr-b {
    color: var(--clr-blue);
}

.highlight {
    border-radius: .5rem;
    transition: .2s ease-in-out;
}

.highlight * {
    cursor: pointer;
}

.highlight:hover {
    transition: .2s ease-in-out;
    background: var(--clr-dark-red);
}

.min-sm {
    min-width: var(--min-sm);
}

.min-md {
    min-width: var(--min-md);
}

.info-separator {
    border-left: .2px solid var(--clr-grey);
    padding: 1rem;
    border-radius: .5rem;
}

.min-lg {
    min-width: var(--min-lg);
}

.insertable {
    display: inline;
}

.card {
    box-shadow: .5rem .5rem 1rem var(--clr-black),
        -.1rem -.1rem 1rem var(--clr-dark-grey);
    border-radius: .5rem;
}

.display-centered {
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 7rem);
    justify-content: space-around;
}

.auth-gap {
    row-gap: 5vh;
}

.block:focus-within {
    color: var(--clr-blue);
}

.block-a {
    display: flex;
}

.block-b {
    display: none;
}

@media screen and (width < 769px) {
    .block-a {
        display: none;
    }

    .block-b {
        display: flex;
    }
}