@page "{category}";
@model PL.Pages.Client.ListModel
@{
    Layout = "_Client";
    ViewData["PageTitle"] = "Product List";
}

<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>